<% if flash[:error] %>
    <div class="notice"><%= flash[:error] %></div>
  <% end %>

<h1>Create a Worksession</h1>

<%= render 'form' %>

<%= link_to 'Back', worksessions_path, class: 'btn btn-default '  %>
