
<% if @user.nil? %>
	<p> All Worksessions </p>
<%else %>
	<h1><%= @user.team_name%>  's Worksessions  </h1>
<% end %>
<%= form_tag(controller: "worksessions", action: "view", :method => :post) do %>
	<%= select_tag( :id, options_from_collection_for_select(@users, 'id', 'team_name'),
		:class => 'genForm_dropBox',onchange: "this.form.submit();") %>
<% end %>
<div id="view_calendar"> </div>

